[Desktop Entry]
Encoding=UTF-8
Name=1UP
Comment=1UP P2P Cryptocurrency
Comment[fr]=1UP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=1UP, eşten eşe kriptografik sanal para birimi
Exec=1up-qt %u
Terminal=false
Type=Application
Icon=1up128
MimeType=x-scheme-handler/1up;
Categories=Office;Finance;
