[Desktop Entry]
Encoding=UTF-8
Name=Piex
Comment=Piex P2P Cryptocurrency
Comment[fr]=Piex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Piex, eşten eşe kriptografik sanal para birimi
Exec=1up-qt %u
Terminal=false
Type=Application
Icon=1up128
MimeType=x-scheme-handler/1up;
Categories=Office;Finance;
